%h3
  Key

%table.table.table-bordered.server-data.server-data-key
  %tbody
    %tr
      %th
        = resource.class.human_attribute_name :name
      %td
        = resource.name
    %tr
      %th
        = resource.class.human_attribute_name :private_key
      %td
        - url = private_key_group_server_key_path(resource.server.group, resource.server, resource)
        = hidden_data :resource_url => url
    %tr
      %th
        = resource.class.human_attribute_name :public_key
      %td
        = hidden_data :data => resource.public_key, :copy => false

    - if resource.note.present?
      %tr
        %th
          = resource.class.human_attribute_name :note
        %td
          %pre= resource.note
