.fields
  %h3
    Notes

    = link_to_remove_fields "remove", f

  %table.table.table-bordered.server-data.server-data-note
    %tbody
      %tr
        %th
          = f.label :name
        %td
          = f.text_field :name, :class => 'text_field'
      %tr
        %th
          = f.label :note
        %td
          = f.text_area :note