%tr
  %td
    = f.select :user_id, User.all.map {|x| [x.email, x.id]}
  %td
    = f.check_box :read
  %td
    = f.check_box :edit
  %td
    = f.check_box :manage
  %td
    = link_to_remove_fields "remove", f
