.fields
  %h3
    Users

  %table.table.table-bordered.user-groups
    %thead
      %tr
        %th
          = UserGroup.human_attribute_name :user
        %th
          = UserGroup.human_attribute_name :read
        %th
          = UserGroup.human_attribute_name :edit
        %th
          = UserGroup.human_attribute_name :manage
        %th
          = t('.actions')

    %tbody

      = f.fields_for :user_groups do |data|
        = render 'form_user_group_fields', :f => data

    %tfoot
      %tr
        %td{:colspan => 5}

          - html_options = {:class => ['btn', 'btn-warning']}
          = link_to_add_fields "Add User", f, :user_groups, :partial => "form_user_group_fields", :container => 'table.user-groups tbody', :html_options => html_options
