= bootstrap_header

%table.table.table-striped
  %thead
    %tr
      %th= resource_class.human_attribute_name(:name)
      %th= resource_class.human_attribute_name(:parent_id)
      %th= resource_class.human_attribute_name(:created_at)
      %th= t('helpers.actions')
  %tbody
    - collection.each do |resource|
      - if can? :edit, resource
        %tr
          %td= link_to resource.name, resource_path(resource)
          %td= resource.parent.try(:name)
          %td= l resource.created_at
          %td
            = edit_resource_button(resource, :size => :small)
            - if can? :delete, resource
              = delete_resource_button(resource, :size => :small)

- if can? :create, resource_class
  = new_resource_button
