= bootstrap_header

%dl.dl-horizontal
  %dt
    %strong
      = resource_class.human_attribute_name(:parent_id)
      = ':'
  %dd
    = resource.parent.try(:name)
  %dt
    %strong
      = resource_class.human_attribute_name(:name)
      = ':'
  %dd
    = resource.name


%h3
  User

%table.table.table-bordered
  %thead
    %tr
      %th
        = resource.class.human_attribute_name :user
      %th
        = resource.class.human_attribute_name :read
      %th
        = resource.class.human_attribute_name :edit
      %th
        = resource.class.human_attribute_name :manage

  %tbody
    - resource.user_groups.each do |user_group|
      %tr
        %td
          = user_group.user.email
        %td
          = user_group.read
        %td
          = user_group.edit
        %td
          = user_group.manage


.form-actions
  = back_resource_button

  - if can? :edit, resource
    = edit_resource_button

  - if can? :delete, resource
    = delete_resource_button