= bootstrap_header

%dl.dl-horizontal
  %dt
    %strong
      = resource_class.human_attribute_name(:name)
      = ':'
  %dd
    = resource.name

- resource.user_groups.each do |key|
  = render "user_group_show", :resource => key

.form-actions
  = back_resource_button

  = edit_resource_button
  = delete_resource_button