= form_for resource, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'


  .control-group
    = f.label :group, :class => 'control-label'
    .controls
      = f.select :group_id, Group.all.map {|x| [x.name, x.id]}



  .form-actions

    = f.submit nil, :class => 'btn btn-primary'

    = cancel_resource_path