= bootstrap_header(resource.name)

= render 'servers/basics/show', :resource => resource

- resource.server_data_keys.each do |key|
  = render 'servers/server_data_keys/show', :resource => key

.form-actions
  = edit_resource_button
  = delete_resource_button