= bootstrap_header(resource.name)

= render 'basic_show', :resource => resource

- Server.data_types.each do |type|
  - resource.send("server_data_#{type}").each do |key|
    = render "server_data/#{type}/show", :resource => key

.form-actions
  - if can? :edit, resource
    = edit_resource_button
  - if can? :destroy, resource
    = delete_resource_button