= bootstrap_header(resource.name)

= render 'basic_show', :resource => resource

- Server.data_types.each do |type|
  - resource.send(type).each do |key|
    = render "#{type}/show", :resource => key

.form-actions
  = edit_resource_button
  = delete_resource_button