= bootstrap_header

%table.table.table-striped
  %thead
    %tr
      %th= resource_class.human_attribute_name(:name)
      %th= resource_class.human_attribute_name(:created_at)
      %th= t('helpers.actions')
  %tbody
    - collection.each do |resource|
      %tr
        %td= link_to resource.name, group_path(resource)
        %td= l resource.created_at
        %td
          = edit_resource_button(resource, :size => :small)
          = delete_resource_button(resource, :size => :small)

= new_resource_button
