= bootstrap_header 'Profile'

%table.table.table-bordered
  %tbody
    %tr
      %th
        = User.human_attribute_name :email
      %td
        = current_user.email

    %tr
      %th
        = User.human_attribute_name :api_key
      %td
        = current_user.api_key
        - if current_user.api_key.blank?
          = link_to 'Generate Api Key', regenerate_api_key_home_path, :class => 'btn btn-primary btn-mini'
        - else
          = link_to 'Regenerate Api Key', regenerate_api_key_home_path, :class => 'btn btn-primary btn-mini', :confirm => 'This will revoke your current key. Continue?'

%h3
  Authorizations - Groups

%table.table.table-bordered
  %thead
    %tr
      %th
        Group
      %th
        Authorizations

  %tbody
    - current_user.user_groups.each do |user_group|
      %tr
        %td
          = user_group.group.name
        %td
          - auth = []
          - auth << 'read' if user_group.read
          - auth << 'edit' if user_group.edit
          - auth << 'manage' if user_group.manage

          - if auth.empty?
            = '---'
          - else
            = auth.join(', ')